<div class="d-flex justify-content-between align-items-center mb-4">
  <div>
    <h1 class="page-title">Mis mascotas</h1>
    <p class="muted mb-0">Administra la información de tus mascotas.</p>
  </div>
  <button class="btn btn-primary" (click)="nuevo()">+ Agregar mascota</button>
</div>
  <div class="card-soft p-3"><div class="table-responsive">
    <table class="table align-middle">
      <thead>
        <tr>
          <th>Mascota</th>
          <th>Edad</th>
          <th>Género</th>
          <th>Especie</th>
          <th>Raza</th>
          <th class="text-end">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of mascotas()">
          <td>
            <img src="{{ p.fotoUrl }}" alt="Avatar del usuario" class="avatar me-2">
            <b>{{p.nombre}}</b>
          </td>
          <td>{{p.fechaNacimiento | edad }}</td>
          <!-- <td>{{p.sexo}}</td> -->
          <td>@if (p.sexo === 'M'){Macho} @else {Hembra}</td>
          <td>{{p.especie}}</td>
          <td>{{p.raza}}</td>
          <td class="text-end">
            <a class="action view" [routerLink]="['/mascotas',p.idMascota]">👁</a>
            <button class="action edit" (click)="editar(p)">✏</button>
            <button class="action delete" (click)="eliminar(p.id)">🗑</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal-backdrop-custom" *ngIf="showForm">
  <form class="modal-static" (ngSubmit)="guardar()">
    <div class="d-flex justify-content-between">
      <h4 class="fw-bold">{{editing?'Editar':'Agregar'}} mascota</h4>
      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="showForm=false">×</button>
    </div>
    <div class="row g-3 mt-1">
      <div class="col-md-6">
        <label class="label">Nombre</label>
        <input class="form-control" name="name" [(ngModel)]="draft.name" required>
      </div>
      <div class="col-md-6">
        <label class="label">Fecha de nacimiento</label>
        <input
          type="date"
          class="form-control"
          name="birth"
          [(ngModel)]="draft.birth">
      </div>
      <!-- <div class="col-md-6">
        <label class="label">Edad</label>
        <input class="form-control" name="age" [(ngModel)]="draft.age">
      </div> -->
      <div class="col-md-6">
        <label class="label">Género</label>
        <select class="form-select" name="gender" [(ngModel)]="draft.gender">
          <option>Hembra</option>
          <option>Macho</option>
        </select>
      </div>
      <div class="col-md-6">
        <label class="label">Especie</label>
        <!-- <input class="form-control" name="species" [(ngModel)]="draft.species"> -->
        <select class="form-select" name="gender" [(ngModel)]="draft.species">
          @for (e of especies(); track e.idEspecie) {
            <option value="{{e.idEspecie}}">{{e.nombre}}</option>
          }
        </select>
      </div>
      <div class="col-md-6">
        <label class="label">Raza</label>
        <input class="form-control" name="breed" [(ngModel)]="draft.breed">
      </div>
      <div class="col-md-6">
        <label class="label">Peso (KG)</label>
        <input class="form-control" name="weight" [(ngModel)]="draft.weight">
      </div>
      <div class="col-md-6">
        <label class="label">Color</label>
        <input class="form-control" name="color" [(ngModel)]="draft.color">
      </div>
      <div class="col-md-6">
        <label class="label">Esterilizado</label>
        <select class="form-select" name="sterilized" [(ngModel)]="draft.sterilized">
          <option value="0">No</option>
          <option value="1">Si</option>
        </select>
      </div>
      <div class="col-md-6">
        <label class="label">Michochip</label>
        <input class="form-control" name="microchip" [(ngModel)]="draft.microchip">
      </div>
      <div class="col-md-6">
        <label class="label">Observacion</label>
        <input class="form-control" name="notes" [(ngModel)]="draft.notes">
      </div>
      <!-- <div class="col-md-6">
        <label class="label">Emoji</label>
        <input class="form-control" name="emoji" [(ngModel)]="draft.emoji">
      </div> -->
    </div>
    <button class="btn btn-primary w-100 mt-4">Guardar</button>
  </form>
</div>
<div class="status-toast" *ngIf="toast">{{toast}}</div>
